E-commerce Order Automation.json
{
  "name": "E-commerce Order Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "10c6ee4f-e127-442f-bc2b-c3f2e23fcf66",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8cb9a484-4a8e-4d75-af21-b8be0aeb307d",
      "name": "Webhook",
      "webhookId": "10c6ee4f-e127-442f-bc2b-c3f2e23fcf66"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef70d0fd-e3c1-4eff-9372-27f2364f680d",
              "name": "body.customer_name",
              "value": "={{ $json.body.customer_name }}",
              "type": "string"
            },
            {
              "id": "350033e0-530f-4c8d-a1d2-957395fb17f5",
              "name": "body.customer_email",
              "value": "={{ $json.body.customer_email }}",
              "type": "string"
            },
            {
              "id": "9f1bbdee-ff46-48d4-bacf-04bea08fb573",
              "name": "body.product_name",
              "value": "={{ $json.body.product_name }}",
              "type": "string"
            },
            {
              "id": "f038c501-4cff-4a7e-819f-1ee6ed9566a1",
              "name": "body.quantity",
              "value": "={{ $json.body.quantity }}",
              "type": "number"
            },
            {
              "id": "f7457ef2-3bde-4519-8251-aa2b274f1311",
              "name": "body.price",
              "value": "={{ $json.body.price }}",
              "type": "number"
            },
            {
              "id": "97774343-3767-4c85-9d64-ad181e41d726",
              "name": "body.total",
              "value": "={{ $json.body.total }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e44661f0-b6a4-4ff1-994e-4bacdfe239ad",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.body.quantity }}",
            "price": "={{ $json.body.price / 100 }} ",
            "total": "={{ $json.body.total }}",
            "customer_name": "={{ $json.body.customer_name }}",
            "customer_email": "={{ $json.body.customer_email }}",
            "product_name": "={{ $json.body.product_name }}",
            "status": "high-value"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -128
      ],
      "id": "8e50534b-1f79-4375-82be-5a4ab3ab1e5f",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "qMAQLvwCcamoyJzO",
          "name": "Postgres account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=Order Confirmed! 🛒 Order #{{ $json.id }}",
        "emailType": "text",
        "message": "=Hello {{ $json.customer_name }},  Thank you for your order!  Order ID: #{{ $json.id }} Product: {{ $json.product_name }} Quantity: {{ $json.quantity }} Price: Rs. {{ $json.price }} Total: Rs. {{ $json.total }} Status: {{ $json.status }} Date: {{ $json.created_at }}  Our priority team will process your order immediately.  Thank you for choosing us! Your Store Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -128
      ],
      "id": "b43d908c-0e9b-460e-85f4-81e65053ca94",
      "name": "Send a message",
      "webhookId": "6bc4a510-4099-47e0-9051-08e22d118e12",
      "credentials": {
        "gmailOAuth2": {
          "id": "m6D6W9Sp5nWEf5HR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be1dae26-814c-4dc8-8ad4-a90bbf4c90c3",
              "leftValue": "={{ $json.body.total }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -112
      ],
      "id": "7cc816a3-be8b-41c0-9682-901ead2dd2a3",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.body.quantity }}",
            "price": "={{ $json.body.price / 100 }} ",
            "total": "={{ $json.body.total }}",
            "status": "panding",
            "customer_name": "={{ $json.body.customer_name }}",
            "customer_email": "={{ $json.body.customer_email }}",
            "product_name": "={{ $json.body.product_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        64
      ],
      "id": "71c5ba5b-c639-489d-ae4a-34f3873de046",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "qMAQLvwCcamoyJzO",
          "name": "Postgres account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=Order Confirmed! 🛒 Order #{{ $json.id }}",
        "message": "=Hello {{ $json.customer_name }},  Thank you for your order!  Order ID: #{{ $json.id }} Product: {{ $json.product_name }} Quantity: {{ $json.quantity }} Price: Rs. {{ $json.price }} Total: Rs. {{ $json.total }} Status: {{ $json.status }} Date: {{ $json.created_at }}  Our priority team will process your order immediately.  Thank you for choosing us! Your Store Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        64
      ],
      "id": "a520ca01-432e-4611-ad92-8daac4ddc057",
      "name": "Send a message1",
      "webhookId": "f87cf7c6-6fa7-439b-aac8-05baea969e9e",
      "credentials": {
        "gmailOAuth2": {
          "id": "m6D6W9Sp5nWEf5HR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37916d6b-ebb1-4f2c-966e-b7b53bbc4126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0a88b50afcb1fe65101fae706facd613ed754cb7175e918e99a2645cf6eb5fe"
  },
  "id": "2BG4F6eSe48HiuM4",
  "tags": []
}