Error Monitoring & Alerts.json
{
  "name": "Error Monitoring & Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "48b49f16-273d-4f98-bc3c-d11a67f24b14",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        16
      ],
      "id": "f5034825-1fce-4532-a748-b5eeed3cf27f",
      "name": "Webhook",
      "webhookId": "48b49f16-273d-4f98-bc3c-d11a67f24b14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18d5b266-e960-46b9-bfb9-36ee6ab471be",
              "name": "body.app_name",
              "value": "={{ $json.body.app_name }}",
              "type": "string"
            },
            {
              "id": "1d08618b-cc3a-4be9-a995-b1204f6c0ba8",
              "name": "body.error_message",
              "value": "={{ $json.body.error_message }}",
              "type": "string"
            },
            {
              "id": "6726ca51-17dc-4bc2-a32b-4d2a45712cd0",
              "name": "body.error_level",
              "value": "={{ $json.body.error_level }}",
              "type": "string"
            },
            {
              "id": "d8fde997-6505-49fa-aaeb-1e343675b395",
              "name": "body.error_code",
              "value": "={{ $json.body.error_code }}",
              "type": "number"
            },
            {
              "id": "a9434c82-339c-4f0d-b199-108a59bec810",
              "name": "body.timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "3d386c7a-647d-4a71-9793-09ed180b7c66",
              "name": "body.server",
              "value": "={{ $json.body.server }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        16
      ],
      "id": "07014983-68e5-45a1-a6dd-74cd08c67480",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55a01b17-5e5c-4e36-91b6-fedbfc875eed",
              "leftValue": "={{ $json.body.error_level }}",
              "rightValue": "=critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        16
      ],
      "id": "90028d01-6cb7-42f2-ae45-a1efd4429d0c",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=error_logs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "error_code": "={{ $json.body.error_code }}",
            "app_name": "={{ $json.body.app_name }}",
            "error_message": "={{ $json.body.error_message }}",
            "error_level": "={{ $json.body.error_level }}",
            "timestamp": "={{ $json.body.timestamp }}",
            "server": "={{ $json.body.server }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "app_name",
              "displayName": "app_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_level",
              "displayName": "error_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_code",
              "displayName": "error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "server",
              "displayName": "server",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "alerted",
              "displayName": "alerted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -32
      ],
      "id": "b42e0fb9-eb6b-4d97-ab3c-e0b844c799f0",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "qMAQLvwCcamoyJzO",
          "name": "Postgres account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=minalkhadija1234@gmail.com",
        "subject": "=🚨 CRITICAL ERROR - {{ $json.app_name }} - Code {{ $json.error_code }}",
        "emailType": "text",
        "message": "=CRITICAL ERROR ALERT  App:     {{ $json.app_name }} Server:  {{ $json.server }} Error:   {{ $json.error_message }} Code:    {{ $json.error_code }} Level:   {{ $json.error_level }} Time:    {{ $json.timestamp }}  Please investigate immediately! DevOps Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -32
      ],
      "id": "5ce9a709-fa46-4e13-a6d5-1be34fc82169",
      "name": "Send a message",
      "webhookId": "6040121d-a533-459e-8538-738c5d664b8f",
      "credentials": {
        "gmailOAuth2": {
          "id": "m6D6W9Sp5nWEf5HR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4bb9dd9c-428d-4fcc-a1a1-d4d874e7605a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0a88b50afcb1fe65101fae706facd613ed754cb7175e918e99a2645cf6eb5fe"
  },
  "id": "EFNCoFQJ2YLOiI6V",
  "tags": []
}