Multi-App Data Sync.json
{
  "name": "Multi-App Data Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0272ddbe-2784-4b9e-8d85-7fc2c78c9865",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -16
      ],
      "id": "dff4ec3a-526b-40f0-8cdc-7c86bfbdb716",
      "name": "Webhook",
      "webhookId": "0272ddbe-2784-4b9e-8d85-7fc2c78c9865"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3aefd80-1089-4930-81f9-2339970b173a",
              "name": "body.user_name",
              "value": "={{ $json.body.user_name }}",
              "type": "string"
            },
            {
              "id": "afb3cc6c-2bb3-44cb-a489-e93986cb4311",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "5e02148f-851d-445b-9fe9-dfa7f8a9cc4b",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "05c3acfd-940c-4e94-b401-82e42a17bcb2",
              "name": "body.company",
              "value": "={{ $json.body.company }}",
              "type": "string"
            },
            {
              "id": "a312f514-6399-42c4-8afa-b320136cfb97",
              "name": "body.platform",
              "value": "={{ $json.body.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -16
      ],
      "id": "41941a33-cae7-4ba9-9ba0-f7aa684c387e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_sync",
          "mode": "list",
          "cachedResultName": "data_sync"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_name": "={{ $json.body.user_name }}",
            "phone": "={{ $json.body.phone }}",
            "email": "={{ $json.body.email }}",
            "company": "={{ $json.body.company }}",
            "platform": "={{ $json.body.platform }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sync_status",
              "displayName": "sync_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -16
      ],
      "id": "9a334440-cfc4-4b24-ab59-8a3494f17196",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "qMAQLvwCcamoyJzO",
          "name": "Postgres account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58",
          "mode": "list",
          "cachedResultName": "auto-data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 520198441,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11qTSnZz1QebjT2NrWRxoax3PZ1HH_HqBhPPknZuwt58/edit#gid=520198441"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "user_name": "={{ $json.user_name }}",
            "company": "={{ $json.company }}",
            "platform": "={{ $json.platform }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -16
      ],
      "id": "86737cec-b804-4958-88c8-78a8fffd8a16",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ugvuCsU3avERS0yM",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "84e3579f-4527-448a-bf1e-4cb1e59101ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0a88b50afcb1fe65101fae706facd613ed754cb7175e918e99a2645cf6eb5fe"
  },
  "id": "9zhPPlCQgCiuCmtv",
  "tags": []
}